In [ ]:
#Week_1
'''
To create a student dataset for 60 students with
random value for each column in python. The columns
are roll no values from 1 to 60, age values from 15 to
20 randomly, grade point 5-10, randomly
'''
import pandas as pd
import numpy as np
data={
    'Roll No':np.arange(1, 61),
    'Age':np.random.randint(15, 20, size=60),
    'Grade':np.random.randint(4, 10, size=60)
}
data=pd.DataFrame(data)
data.to_csv('Randomly_Generated_Student_data.csv', index=False)
data.head()

   Roll No  Age  Grade
0        1   18      8
1        2   17      7
2        3   17      9
3        4   18      6
4        5   15      5

In [ ]:
#Applying some Basic Statistical Methods
#Mean
data.Grade.mean()

6.066666666666666

In [ ]:
#Median
data.Grade.median()

6.0

In [ ]:
#Mode
data.Grade.mode()

0    4
Name: Grade, dtype: int64